body {
  font-family: 'Bowlby One SC', cursive;
  font-size: 1.2rem;
  text-align: center;
  color: white;
  margin: 0.5rem;
  padding: 0;
  background-color: #292db3;
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Old versions of Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
}

.img {
  position: absolute;
  z-index: -1;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  display: none;
  height: 100%;
}

.buttons {
  margin: 1rem 0;
}

.buttons .button {
  color: #000;
  padding: 5px 10px;
  background-color: #f3af19;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  margin: 0.5rem 5px;
  display: inline-block;
  -webkit-transform: scale(1);
          transform: scale(1);
  outline: none;
  border: none;
  font-family: 'Bowlby One SC', cursive;
  letter-spacing: 0.7px;
  cursor: pointer;
}

.buttons .button:hover, .buttons .button:active, .buttons .button:focus {
  outline: none;
  border: none;
}

.buttons .button:hover {
  background-color: #ce910b;
  -webkit-transform: scale(1);
          transform: scale(1);
}

.buttons .button:active {
  -webkit-transform: scale(0.7);
          transform: scale(0.7);
}

.buttons .button--roll, .buttons .button--showAll {
  display: none;
}

.buttons .button--roll.show, .buttons .button--showAll.show {
  display: inline-block;
}

.buttons .button--showAll {
  background-color: #9d4dbb;
  color: white;
  display: none;
  margin-top: 1rem;
}

.buttons .button--showAll:hover {
  background-color: #803b9a;
}

.container {
  width: 100%;
  margin: auto;
  max-width: 2000px;
}

.board {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  position: relative;
}

.board .img {
  display: block;
}

.board .row {
  margin: 0px;
  height: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: calc((100vh - 90px - 4rem)/30);
}

.board .col {
  margin: 0px;
  height: 100%;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  background-color: #4c51f7;
  display: inline-block;
  line-height: 24px;
  -webkit-transition: 5s;
  transition: 5s;
  -webkit-transform-origin: center;
          transform-origin: center;
  -webkit-transform: scale(1.25);
          transform: scale(1.25);
  opacity: 1;
}

.board .col.transparent {
  background-color: transparent;
  opacity: 0;
}

@media (min-width: 576px) {
  .container {
    max-width: 520px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
  .container .board .col {
    -webkit-transform: scale(1.15);
            transform: scale(1.15);
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
  .container .board .col {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1520px;
  }
  .container .board .col {
    -webkit-transform: scale(1.05);
            transform: scale(1.05);
  }
}
/*# sourceMappingURL=style.css.map */